@import './../../index.scss';
.navbar{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: $mainBlack;
  padding:0.5rem 0;
  .navbar-links{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items:center;
    .navlink{
      text-align: center;
      list-style-type: none;
      a{
        text-decoration: none;
        color:$mainWhite;
      }
    }
  }
}

